@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff');
}

@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: lighter;
  src: local('Open Sans Light'), local('OpenSansLight'), url('../fonts/OpenSansLight.woff');
}

body{
	width: 225px;
	height: 364px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border: 0px;
}

div{
	overflow: hidden;
	position: relative;
}

span{
    display: inline-block;
}

.container{
	margin: 0px;
	padding: 5px;
	border: 0px;
}

#playbackControlsContainer{
	width: 100%;
	height: 50px;
	z-index: 1;
	box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.3);
	padding: 0px;
	-webkit-transform: translate3d(0, 0, 0);
}

.blurryImage{
	position: absolute;
	left: -15px;
	width: 255px;
	height: 255px;
	-webkit-filter: blur(10px);
	-webkit-transform: scaleY(-1);
	opacity: 0.5;
}

#playbackControlsBackgroundImage{
	bottom: -10px;
}

.playbackControl{
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	float: left;
}

#previousButton{
	background-image: url('/images/preSprite/prev.png');
	margin-left: 22px;
}

.playbackControl:hover{
	opacity: 0.7;
}

.playbackControl.hiddenButton:hover{
	opacity: 0.125;
}

#playPauseButton{
	margin-left: 15px;
	margin-right: 15px;
}

.play{
	background-image: url('/images/preSprite/play.png');
}

.pause{
	background-image: url('/images/preSprite/pause.png');
}

#nextButton{
	background-image: url('/images/preSprite/next.png');
	margin-right: 22px;
}

#albumArtContainer{
	width: 100%;
	height: 225px;
	padding: 0px;
}

#art{
	width: 225px;
	height: 225px;
	cursor: pointer;
}

#trackInfoContainer{
	padding: 0;
	width: 100%;
	height: 69px;
	box-shadow: 0px -10px 15px 0px rgba(50, 50, 50, 0.3);
}

#trackInfoBackgroundImage{
	top: -10px;
}

#trackInfo{
	z-index: 1;
	width: 100%;
}

.marqueeWrapper{
    overflow: hidden;
    width: inherit;
    padding: 0;
    margin: 0;
    float: left;
}

.marqueeItem{
    white-space: nowrap;
    padding: 0;
}

.info{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	text-shadow: 0px 0px 0.75em rgba(255,255,255,0.2);
	cursor: default;
	display: inline-block;
}

#artist{
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 17px;
	padding-top: 8px;
	height: 23px;
}

#track{
	padding-top: 3px;
	font-family: 'Open Sans';
	font-size: 20px;
	height: 27px;
}

#lowerInfoContainer{
	width: 100%;
	height: 20px;
	background:
    	radial-gradient(black 15%, transparent 16%) 0 0,
    	radial-gradient(black 15%, transparent 16%) 4px 4px,
    	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 0.5px,
    	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 4.5px;
    background-color:#282828;
    background-size:8px 8px;
	color: #e6e6e6;
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 12px;
	padding: 0;
}

.smallIcon{
	width: 19px;
	height: 19px;
	padding: 2px;
	margin: 0px 2px 0px 2px;
	color: #FFF;
	font-size: 14px;
	opacity: 0.5;
	cursor: pointer;
}

.smallIcon.active{
	opacity: 0.8;
}

.smallIcon.active:hover{
	opacity: 1;
}

.smallIcon.hiddenButton:hover{
	opacity: 0.125;
}

.smallIcon:hover{
	opacity: 0.65;
}

#shuffleButton{
	float: left;
}

#repeatButton{
	float: left;
}

.repeat-one::after{
	position: absolute;
	content: "1";
	font-size: 8px;
	left: 7px;
	top: 4px;
}

#thumbsUpButton{
	float: right;
}

#thumbsDownButton{
	float: right;
}

#trackTimings{
	position: absolute;
	text-align: center;
	left: 73px;
	width: 80px;
	margin-top: 3px;
	font-size: 10px;
	color: #BBB;
	cursor: default;
}

.hiddenButton{
	opacity: 0.125;
	cursor: default;
}

.hiddenButton:hover{
	opacity: 0.125;	
}

.dimButton{
	opacity: 0.2;
	cursor: default;
}
